.text-center{
    text-align: center;
}
.container{
    text-align: center;
}
.button{
    padding: 16px;
    margin: 0 3px;
    border-radius: 20px;
    font-size: 40px;
}
.row{
    margin: 8 0px;
    padding: 0 55px;
    font-size: 40px;

}
input{
   padding: 10 30px;
   border-radius: 10px;
   text-align: end;
   font-size: 17px;
}
.row-1{
    padding: 10 55px;
    align-content: center;
}
.inputtext{
    text-decoration-color: black;
}